html{
    font-family: Verdana;
}

body{
    margin: 0;
    background: black;
}

label {
    color: #186518;
}

input {
    border: 1px solid #186518;
    border-radius: 3px;
    background: #1ccd21;
}

.wrapper{
    margin: auto;
    max-width: 300px;
    min-width: 200px;
    height: auto;
}

.text{
    background: #092509;
    color: #1ccd21;
}